{{ ansible_managed | comment }}

{{ prometheus_log_file }} {
  daily
  rotate 7
  missingok
  notifempty
  compress
  create 0640 root adm
  postrotate
    /usr/lib/rsyslog/rsyslog-rotate
  endscript
}
